body {
    background: #4776e6;
    background: linear-gradient(to left, #8e54e9, #4776e6);
    margin: 0;
    min-width: 250px;
    min-height: 100px;
}

.home {
    text-align: center;
    color: white;
}

.box {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #eee;
    font-size: 30px;
    margin: 0 10px;
}

#insta:hover {
    color: transparent;
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

#facebook:hover {
    color: #4267B2;
}

#twitter:hover {
    color: #1DA1F2;
}

view rawstyle.css hosted with b